<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Jishnu" %}
{% set overview = "https://jishnus420.github.io/CSP-tri1/" %}
{% set repo = "https://github.com/JishnuS420/CSP-tri1" %}
{% set scrumboard = "https://github.com/users/JishnuS420/projects/1/views/1" %}
{% set authors = "Jishnu Singiresu" %}

<!-- Setting up a block replacement to customize background to BIRDS -->
{% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.port.min.js') }}"></script>
    <script>
        VANTA.PORT({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>
       
    <h1 class="text-primary"><strong>About Me</strong></h1>
        <p class="text-secondary">Hi i'm Jishnu Singiresu!</p>
        <p class="text-secondary">My role as the backend developer is to:</p>
        <ol>
            <li>Build and maintain the mechanisms that process data and perform actions on websites</li>
            <li>I am basically doing what the user doesn't see</li>
        </ol>
    <style>
        * {
        background-color: #f4d032;}       
    </style>
            <form method="POST">
            <input name="color" value="{{ color }}">
            <input type="submit" value="Set">
            </form>
            <p>
            <a href="/">home</a>
{% endblock %}