<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"> <!-- Sets the -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Sets a Maximum Width-->
    <title>Calendar</title>

    <link rel="stylesheet" href="./flask_ttitans/templates/style.css">
  </head>
  <body>
    
    <div id="container">
      <div id="header">
        <div id="monthDisplay"></div> <!-- Sets a month slider-->
        <div>
          <button id="backButton">Back</button>
          <button id="nextButton">Next</button>
        </div>
      </div>

      <div id="weekdays">  <!-- Sets the row for the weekdays-->
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
      </div>

      <div id="calendar"></div>
    </div>

    <div id="NewEvent"> <!-- Creating an Event -->
      <h2>New Event</h2>

      <input id="eventTitleInput" placeholder="Event Title" />

      <button id="saveButton">Save</button>  <!-- Buttons to Decide whether to add the event or not -->
      <button id="cancelButton">Cancel</button>
    </div>

    <div id="DeleteEvent">  <!-- Deleting an Event -->
      <h2>Event</h2>

      <p id="EventText"></p> <!-- Adding Text an Event -->

      <button id="DeleteButton">Delete</button>
      <button id="CloseButton">Close</button>
    </div>

    <div id="modalBackDrop"></div>

    <script src="./flask_ttitans/templates/calendar.js"></script>
  </body>
</html>