{% extends "layouts/base.html" %}
{% set project = "Calendar" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div style="background-color: rgba(195, 235, 16, 0.705); color:rgb(0, 0, 0)" class="px-5 py-5 mx-auto">        <h1 class="text-primary"><strong>Calendar</strong></h1>
        <p class="text-secondary">
    
        </p>
        
        <table>
            <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
            <tr>
                <td>A</td>
                <td>B</td>
                <td>C</td>
                <td>D</td>
                <td>E</td>
                <td>F</td>
                <td>G</td>
            </tr>
        </table>
{% endblock %}

# This code does not work yet