<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div style="background-color: rgba(39, 238, 39, 0.705); color:rgb(0, 0, 0)" class="px-5 py-5 mx-auto">        <h1 class="text-primary"><strong>Scrum Team</strong></h1>
        <p class="text-secondary">
            <li>Scrum Master: Emaad Mir</li>
            <li>DevOps: Luka Van Den Boomen</li>
            <li>Frontend Developer: Edwin Abraham</li>
            <li>Backend Developer: Jishnu Singiresu</li>
        </p>

        <h1 class="text-primary"><strong>Project Idea/Purpose</strong></h1>
        <p class="text-secondary">
            Our idea for for for for the final project is to make a program that allows users to 
            make a list of things that they would like to do so that the computer can 
            compile that list into a coherent daily agenda. We want to be able to use
            lists and dictionaries to help them with an agenda so that they can
            view all of the activities that they want to do in an organized list.
        </p>

        <h1 class="text-primary"><strong>Scrum Process</strong></h1>
        <p class="text-secondary">
<html>
<body>

<img src="/static/assets/scrumplan.png" alt="Scrum Process" width="1000" height="600">
<br>
<i>This poster was made using Canva by Edwin Abraham, Emaad Mir, Jishnu Singiresu, and Luka Van Den Boomen. This is how our team will operate.</i>
</br>

</body>
</html>

        
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

